@import "tailwindcss";


 /* Hero componeent: Bounce Effect */
@keyframes phoneBounce {
  0%   { transform: rotate(-6deg); }
  60%  { transform: rotate(6deg); }
  100% { transform: rotate(-6deg); }
}

.bounce-animation {
  animation: phoneBounce 4s ease-in-out infinite;
}



/* About component : location (Bounce Effect) */

@keyframes bounceIcon {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

.bounce-icon {
  animation: bounceIcon 3s ease-in-out infinite;
}




