@import "tailwindcss";


 /* Hero componeent: Bounce Effect */
@keyframes bounceCard {
  0%   { transform: rotate(6deg) translateY(0px) scale(1); }
  30%  { transform: rotate(7deg) translateY(-12px) scale(1.02); }
  60%  { transform: rotate(6deg) translateY(0px) scale(1); }
  100% { transform: rotate(6deg) translateY(0px) scale(1); }
}

.bounce-animation {
  animation: bounceCard 8.5s ease-in-out infinite;
}


/* About component : location (Bounce Effect) */

@keyframes bounceIcon {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

.bounce-icon {
  animation: bounceIcon 3s ease-in-out infinite;
}




